[Unit]
Description=Backup service before shutdown
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/bin/bash -c 'SCRIPT_DIR/lib/openvpnas/backup.sh'

[Install]
WantedBy=multi-user.target
