[Unit]
Description=Backup service before shutdown
Before=shutdown.target reboot.target halt.target
After=network-online.target
Wants=network-online.target backup.timer

[Service]
ExecStart=/bin/bash -c 'aws s3api put-object --bucket BUCKET_NAME --key data/x-ui.db --body S3_PATH/x-ui.db'
ExecStop=/bin/bash -c 'aws s3api put-object --bucket BUCKET_NAME --key data/x-ui.db --body S3_PATH/x-ui.db'
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target multi-user.target
